<ion-header>
  <ion-toolbar>
    <ion-title class="bold">EINSTELLUNGEN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
       <p><br></p>     
  <div class="container">
  <button class="btn-lg btn-info" style="color: white;">
    <a class="navbar-info" href="#">Fahrzeug wechseln</a>
                  </button>
<p></p>
                    <button class="btn-lg btn-info" style="color: white;">
    <a class="navbar-info" href="#">Systemcheck</a>
                  </button>
 <p></p>                 
                    <button class="btn-lg btn-info" style="color: white;">
    <a class="navbar-info" href="#">Displayhelligkeit</a>
                  </button>
<p></p>
                    <button class="btn-lg btn-info" style="color: white;">
    <a class="navbar-info" href="#">Support kontaktieren</a>
                  </button>
    <p></p>              
                    <button class="btn-lg btn-info" style="color: white;">
    <a class="navbar-info" href="#">Ausloggen</a>
                  </button>
                </div>
    
</ion-content>
