textarea{
    --border-bottom-color: $info-color; // valid underline color
}
.border{
    border-left: none;
    border: 1px solid #2CA8FF;
    padding: 20px;
    font-size:  1.1em;
    line-height: 1.8;
}