<ion-header>
  <ion-toolbar>
    <ion-title class="bold">AUFTRÄGE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
  <p><br><br></p>
  <div class="ion-text-center">
  <h3 class="bold">Der Auftrag wurde erfolgreich abgeschlossen!</h3>
            
            
            
<h3 class="title"><br></h3> 
  <button class="btn btn-info" routerLink="/tabs/tab1" routerDirection="root">Zurück zur Startseite</button>   
  <br>
  <button class="btn btn-info" routerLink="/tabs/jobs" routerDirection="root">Nächsten Auftrag starten</button>   
</div>
</div>
</ion-content>
