<ion-header>
  <ion-toolbar>
    <ion-title class="bold">AUFTRÄGE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
  <p><br><br></p>
  <center><h3 class="bold">Der Auftrag wurde erfolgreich abgeschlossen!</h3> </center>
            
            
            
  <center><h3 class="title"><br></h3> </center>
  
<center><button class="btn btn-info" routerLink="/tabs/tab1" routerDirection="root">Zurück zur Startseite</button>   </center>
  
<center><button class="btn btn-info" routerLink="/tabs/jobs" routerDirection="root">Nächsten Auftrag starten</button>  </center> 
  
</div>
</ion-content>
